* {
  color: black;
}
/* star or universal selector */
button {
  color: red;
}
/* element selector */

h1, h2 {
  color: darkslateblue;
}
/* combined or list selector */

#signup {
  color: antiquewhite;
}
/* id selector */

.complete {
  color: green;
}
/* class selector */

header a {
  font-size: 30px;
  color: teal;
}
/* a element is a descendant of header, a will just be styled not inc. header*/

#dislikes a {
  font-weight: bold;
  color: red;
}
/* a  element is a descendant if element with id dislikes */

footer > a {
  color: #457b9d;
}
/* a is direct child of footer one level down, not nested to another element */

h2 + button {
  font-size: 20px;
}
/* h2 is adjacent to button, meaning same level */

input[type='password'] {
  color: greenyellow;
}
/* input element with type attribute and value is passsword */

selection[class='post'] {
  color: beige;
}
/* selection element with class attribute and value is post */

a[href*='google'] {
  color: magenta;
}
/* a element with href attribute that matches with *google */
